body{
  display: flex;
  background-color: black;
  text-align: center;
  align-items: center;
  font-family: "platypi", serif;

  @media (min-width:1200px){
    justify-content: center;
  }
}

.conteudoBox{
  display: flex;
  min-width: 400px;
  max-width: 1000px;
  padding: 20px;
  margin: 20px;
  background-color: #282729;
  color: #fff;
  border-radius: 15px;
  box-shadow: orange 0 0 40px;
  flex-direction: column;
}

.buttonBox{
  display: flex;
  justify-content: space-around;
}

.buttons{
  background: linear-gradient(to left, #fff, orange);
  color: black;
  font-family: "platypi", serif;
  width: 120px;
  padding:5px 0;
  border: none;
  border-radius: 5px;
}

.buttons:hover{
  box-shadow: #0bffde 0 0 20px;
}

h1, h3{
  text-align: center;
  color: #fff;
  padding: 5px 0 5px 0;
}

h1{
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
}

h3{
   background-color: orange;
   border-radius: 10px 10px 0 0;
   margin-top: 0;
}

.conteudo{
  display: flexbox;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  justify-items: center;
  text-align: center;
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

p{
  font-weight:500;
  margin: 0;
  padding: 10px;
}

h4{
  text-align: center;
  font-size: large;
  margin: 5px;
}

.SubaruBookDiv, .SubaruSatella{
  text-align: center;
  width: 100%;
  height: 424;
  flex-direction: column;
}

#SubaruBook, #Subaru_SatellaPhotos{
   width: 300px;
   filter: drop-shadow(5px 5px 5px rgb(105, 0, 131));
   border-radius: 10px;
}

